<div class="container">
  <div class="card-div">
    <h2 class="bem-vindo">PAGAMENTOS</h2>
    <div class="card-saldo">
      <h5 class="card-titulo">R$1.893,44</h5>
    </div>
  </div>
  <div class="card-botoes">
    <button class="botao">BOLETO</button>
    <button class="botao">PIX</button>
    <button class="botao">TRANSFERÊNCIA</button>
    <button class="botao">SAQUE</button>
  </div>

  <div class="container-table">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-list col-1 head"><b>ID</b></div>
        <div class="col-list col-2 head"><b>TRANSAÇÃO</b></div>
        <div class="col-list col-3 head"><b>VALOR</b></div>
        <div class="col-list col-4 head"><b>HORÁRIO</b></div>
      </li>
      <li class="table-row">
        <div class="col-list col-1" data-label="Id">42235</div>
        <div class="col-list col-2" data-label="transacao">John Doe</div>
        <div class="col-list col-3" data-label="valor-trans">$350</div>
        <div class="col-list col-4" data-label="horario">16:34:43</div>
      </li>
      <li class="table-row">
        <div class="col-list col-1" data-label="Id">42235</div>
        <div class="col-list col-2" data-label="transacao">John Doe</div>
        <div class="col-list col-3" data-label="valor-trans">$350</div>
        <div class="col-list col-4" data-label="horario">16:34:43</div>
      </li>
      <li class="table-row">
        <div class="col-list col-1" data-label="Id">42235</div>
        <div class="col-list col-2" data-label="transacao">John Doe</div>
        <div class="col-list col-3" data-label="valor-trans">$350</div>
        <div class="col-list col-4" data-label="horario">16:34:43</div>
      </li>
     
    </ul>
  </div>

  {{! <table>
    <thead>
      <th>id</th>
      <th>transação</th>
      <th>valor</th>
      <th>horario</th>
    </thead>
    <tbody>
      <tr>
        <td data-label="id">1</td>
        <td data-label="pessoas">Jorge</td>
        <td data-label="valor">12300</td>
        <td data-label="horario">16:34:43</td>
      </tr>
      <tr>
        <td data-label="id">1</td>
        <td data-label="pessoas">Jorge</td>
        <td data-label="valor">12300</td>
        <td data-label="horario">16:34:43</td>
      </tr>
      <tr>
        <td data-label="id">1</td>
        <td data-label="pessoas">Jorge</td>
        <td data-label="valor">12300</td>
        <td data-label="horario">16:34:43</td>
      </tr>
      <tr>
        <td data-label="id">1</td>
        <td data-label="pessoas">Jorge</td>
        <td data-label="valor">12300</td>
        <td data-label="horario">16:34:43</td>
      </tr>
    </tbody>
  </table> }}
</div>