<div class="card-div">
  <h2 class="bem-vindo">PAGAMENTOS</h2>
  <div class="card-saldo">
    <h5 class="card-titulo">R$1.893,44</h5>
  </div>
</div>
<div class="card-botoes">
  <button class="botao">BOLETO</button>
  <button class="botao">PIX</button>
  <button class="botao">TRANSFERÊNCIA</button>
  <button class="botao">SAQUE</button>
</div>

<table>
  <thead>
    <th>id</th>
    <th>pessoas</th>
    <th>valor</th>
    <th>horario</th>
  </thead>
  <tbody>
    <tr>
      <td data-label="id">1</td>
      <td data-label="pessoas">Jorge</td>
      <td data-label="valor">12300</td>
      <td data-label="horario">16:34:43</td>
    </tr>
    <tr>
      <td data-label="id">1</td>
      <td data-label="pessoas">Jorge</td>
      <td data-label="valor">12300</td>
      <td data-label="horario">16:34:43</td>
    </tr>
    <tr>
      <td data-label="id">1</td>
      <td data-label="pessoas">Jorge</td>
      <td data-label="valor">12300</td>
      <td data-label="horario">16:34:43</td>
    </tr>
    <tr>
      <td data-label="id">1</td>
      <td data-label="pessoas">Jorge</td>
      <td data-label="valor">12300</td>
      <td data-label="horario">16:34:43</td>
    </tr>
  </tbody>
</table>