<h1>Inserir usuario</h1>
<form action="/usuarios/add" method="POST">

    <label for="nome">Nome:</label>
    <input type="text" name="nome">

    <label for="cpf">CPF:</label>
    <input type="text" name="cpf">

    <label for="email">E-mail:</label>
    <input type="text" name="email">

    <label for="senha">Senha:</label>
    <input type="password" name="senha">

  <input type="submit" value="Inserir">
</form>