.bem-vindo,
h5 {
  color: var(--text-color);
}

.total{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

/* card de saldo */

.card-saldo {
  display: grid;
  position: relative;
  border-radius: 10px;
  width: 35rem;
  height: 13rem;
  margin: auto;
  text-align: center;
  border: 2px solid var(--text-color);
  background-color: var(--sidebar-color);
}

.card-titulo {
  position: absolute;
  top: 10%;
  left: 25%;
  right: 25%;
  font-family: monospace;
  font-size: 50px;
}

.card-botoes {
  position: absolute;
  bottom: 8%;
  left: 10%;
  right: 12%;
  align-items: center;
}

.botao-saldo {
  display: inline-block;
  color: var(--text-color);
  background-color: var(--sidebar-color);
  border-color: var(--text-color);
  border-width: 2px;
  border-radius: 5px;
  vertical-align: middle;
  font-size: 20px;
  width: auto;
  padding: 5px;
  margin: auto;
}

.botao-saldo i {
  vertical-align: middle;
  font-size: 20px;
  padding-right: 8px;
}

.botao-saldo:hover {
  color: var(--primary-color-light);
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: var(--tran-03);
}

/* card central*/

.container {
  min-width: 700px;
  margin-top: 2rem;
  color: var(--text-color);
}

.bem-vindo {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  line-height: auto;
  padding: 10px;
}

.responsive-table li {
  border-radius: 2px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid var(--text-color);
}

.responsive-table .table-header {
  background-color: var(--sidebar-color);
  padding: 20px;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.responsive-table .table-row {
  background-color: var(--sidebar-color);
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
  flex-basis: 20%;
}
.responsive-table .col-2 {
  flex-basis: 40%;
}
.responsive-table .col-3 {
  flex-basis: 30%;
}
.responsive-table .col-4 {
  flex-basis: 10%;
}

.col-list {
  flex-basis: 100%;
  display: flex;
  padding: 0;
}

.col-list::before {
  padding-right: 10px;
  /* content: attr(data-label); */
  flex-basis: 50%;
  text-align: left;
}

.table-header {
  display: none;
}
