<div class="total">
  <div class="card-div">
    <h2 class="bem-vindo">Bem Vindo!!!</h2>
    <div class="card-saldo">
      <h5 class="card-titulo">R$1.893,44</h5>
      <div class="card-botoes">
        <button class="botao-saldo">
          <i class="bi bi-cash-coin"></i>Adicionar
          dinheiro
        </button>
        <button class="botao-saldo">
          <i class="bi bi-arrow-left-right"></i>Transferir
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-list col-1"><b>ID</b></div>
        <div class="col-list col-2"><b>PESSOA TRANSAÇÃO</b></div>
        <div class="col-list col-3"><b>VALOR MONTANTE</b></div>
        <div class="col-list col-4"><b>HORÁRIO</b></div>
      </li>
      <li class="table-row">
        <div class="col-list col-1" data-label="Job Id">42235</div>
        <div class="col-list col-2" data-label="Customer Name">John Doe</div>
        <div class="col-list col-3" data-label="Amount">$350</div>
        <div class="col-list col-4" data-label="Payment Status">21:22:42</div>
      </li>
      <li class="table-row">
        <div class="col-list col-1" data-label="Job Id">42442</div>
        <div class="col-list col-2" data-label="Customer Name">
          Jennifer Smith
        </div>
        <div class="col-list col-3" data-label="Amount">$220</div>
        <div class="col-list col-4" data-label="Payment Status">21:22:42</div>
      </li>
      <li class="table-row">
        <div class="col-list col-1" data-label="Job Id">42257</div>
        <div class="col-list col-2" data-label="Customer Name">
          John Smith
        </div>
        <div class="col-list col-3" data-label="Amount">$341</div>
        <div class="col-list col-4" data-label="Payment Status">21:22:42</div>
      </li>
      <li class="table-row">
        <div class="col-list col-1" data-label="Job Id">42311</div>
        <div class="col-list col-2" data-label="Customer Name">
          John Carpenter
        </div>
        <div class="col-list col-3" data-label="Amount">$115</div>
        <div class="col-list col-4" data-label="Payment Status">21:22:42</div>
      </li>
    </ul>
  </div>
</div>