<div class="total">
  <div class="card-div">
    <h2 class="bem-vindo">Bem Vindo!!!</h2>
    <div class="card-saldo">
      <h5 class="card-titulo">R$1.893,44</h5>
      <div class="card-botoes">
        <button
          class="botao-saldo adi"
          data-toggle="modal"
          data-target="#myModal"
        >
          <i class="bi bi-cash-coin"></i>Adicionar dinheiro
        </button>

      </div>
    </div>
  </div>

  <div class="container">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col-list col-1 head"><b>ID</b></div>
        <div class="col-list col-2 head"><b>CARTÃO</b></div>
        <div class="col-list col-3 head"><b>VALOR DISPONÍVEL</b></div>
      </li>
      <li class="table-row">
        <div class="col-list col-1" data-label="Job Id">42235</div>
        <div class="col-list col-2" data-label="Customer Name">John Doe</div>
        <div class="col-list col-3" data-label="Amount">$350</div>
      </li>
      <li class="table-row">
        <div class="col-list col-1" data-label="Job Id">42442</div>
        <div class="col-list col-2" data-label="Customer Name">
          John textor
        </div>
        <div class="col-list col-3" data-label="Amount">$220</div>
      </li>
      <li class="table-row">
        <div class="col-list col-1" data-label="Job Id">42257</div>
        <div class="col-list col-2" data-label="Customer Name">
          John Smith
        </div>
        <div class="col-list col-3" data-label="Amount">$341</div>
      </li>
      <li class="table-row">
        <div class="col-list col-1" data-label="Job Id">42311</div>
        <div class="col-list col-2" data-label="Customer Name">
          John Carpenter
        </div>
        <div class="col-list col-3" data-label="Amount">$115</div>
      </li>
    </ul>
  </div>
</div>

<div class="modal-container" style="display: none;">
  <div class="modal-adiDinheiro">
    <h3 class="subtitulo">ADICIONAR</h3>
    <button class="fechar">X</button>
    <form action="">
      <input
        type="number"
        id="qtdAdicional"
        min="0"
        max="999999"
        placeholder="Valor para adicionar..."
      />
      <br />
      <input
        type="button"
        class="btn btn-primary adicionar"
        value="ADICIONAR"
      />
    </form>
  </div>
</div>

<script>
  let modal = document.querySelector(".modal-container"); let adiBotao =
  document.querySelector(".adi"); let transBotao =
  document.querySelector(".trans"); let fechar =
  document.querySelector(".fechar"); let subtitulo =
  document.querySelector(".subtitulo"); fechar.addEventListener("click", () =>{
  modal.style.display = "none";} );adiBotao.addEventListener("click", () =>
  {if(modal.style.display == "none"){ subtitulo.innerHTML = "ADICIONAR";
  modal.style.display = "flex";} else modal.style.display = "none";});
  transBotao.addEventListener("click", () =>{if(modal.style.display == "none"){
  subtitulo.innerHTML = "TRANSFERÊNCIA"; modal.style.display = "flex";} else
  modal.style.display = "none";});
</script>