<div class="container">
  <h2 class="bem-vindo">CARTEIRA</h2>
  <table>
    <thead>
      <th></th>
      <th>lista de cartões</th>
      <th>saldo</th>
    </thead>
    <tbody>
      <tr>
        <td data-label=""><button class="botao-edit"><i
              class="bi bi-gear"
            ></i></button></td>
        <td data-label="lista de catões">Lorem ipsum dolor.</td>
        <td data-label="saldo">12020</td>
      </tr>
    </tbody>
  </table>

  <button class="botao-cartao">
    <i class="bi bi-plus"></i>ADICIONAR CARTÃO</button>
</div>