<nav class="sidebar close">
  <header>
    <div class="image-text">
      <span class="image">
        <img src="images/logo.png" alt="" />
      </span>

      <div class="text logo-text">
        <span class="name">SyncPay</span>
        <span class="profession">Financeiro</span>
      </div>
    </div>

    <i class="bi bi-chevron-right toggle" style="font-size: 14px;"></i>
  </header>

  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">
        <li class="nav-link">
          <a href="/">
            <i class="bi bi-house-fill icon"></i>
            <span class="text nav-text">Inicio</span>
          </a>
        </li>

        <li class="nav-link">
          <a href="cartoes">
            <i class="bi bi-bar-chart-fill icon"></i>
            <span class="text nav-text">Extrato</span>
          </a>
        </li>

        <li class="nav-link">
          <a href="pagamentos">
            <i class="bi bi-wallet-fill icon"></i>
            <span class="text nav-text">Pagamentos</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="bottom-content">
      <li class="">
        <a href="/meuprojeto/views/login.hbs">
          <i class="bi bi-box-arrow-left icon"></i>
          <span class="text nav-text">Sair</span>
        </a>
      </li>

      <li class="mode">
        <div class="sun-moon">
          <i class="bi bi-moon icon moon"></i>
          <i class="bi bi-sun icon sun"></i>
        </div>
        <span class="mode-text text">Modo Escuro</span>

        <div class="toggle-switch">
          <span class="switch"></span>
        </div>
      </li>
    </div>
  </div>
  <script>
    const body = document.querySelector("body"), sidebar =
    body.querySelector("nav"), toggle = body.querySelector(".toggle"),
    modeSwitch = body.querySelector(".toggle-switch"), modeText =
    body.querySelector(".mode-text"); toggle.addEventListener("click", () => {
    sidebar.classList.toggle("close"); }); modeSwitch.addEventListener("click",
    () => { body.classList.toggle("dark"); if (body.classList.contains("dark"))
    { modeText.innerText = "Modo Claro"; } else { modeText.innerText = "Modo Escuro"; } });
  </script>
</nav>